$Primary: #d92d3e;
$Secondary: #222222;
$Highlighter1: #5473b1;
$Highlighter2: #3182ec;
$Highlighter3: #142c60;
$Highlighter4: #444444;
$Highlighter5: #333333;
$Borders: rgba(34, 34, 34, 0.2);
$White: #ffffff;
$Dark: #171c27;
$Yellow: yellow;
$WhiteSmoke: whitesmoke;
$Gray: rgba(34, 34, 34, 0.5);
$LightSalmon: #d92d3e1a;
$Green: #008000;
$BuddyBoxShadow: rgba(0, 0, 0, 0.04);
$BorderGray: #808080;
$Linkcolor: #1048b8;
$LightGray: #d3d3d3;
